<!DOCTYPE html>
<html>

<head>
    <title>help
    </title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div>
        {{>header}}
        <p>
            {{message}}
        </p>

    </div>

    {{>footer}}

</body>

</html>